.title {
    margin-top: 20vh;
    font-size: 36px;
}


.create-bot-icon-div {
    margin: auto;
}

.create-bot-icon {
    align-self: flex-end;
    background-color: #CEE5D0;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    color: black !important;
}

.bots-list {
    max-height: 250px;
    overflow-y: scroll;
}


.bot {
    background-color: #CEE5D0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 7px;
    h3 { 
        font-size: 1.1rem;
        padding: 0;
        margin: 0;
    }
    .edit-bot-icon {
        color: black !important;
    }
}

.bot.bot-transparent {
    opacity: 0.5 !important;
}

.my-bots-section {
    max-width: 500px;
    background-color: #94B49F !important;
    margin: 0 30px;
    margin-top: 10vh;
    h2 {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 1024px) {
    .my-bots-section {
        min-height: 50vh;
        margin: auto;
        margin-top: 10vh;
    }
}